In [3]:
import pandas as pd

In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp311-cp311-win_amd64.whl (10.6 MB)
                                              0.0/10.6 MB ? eta -:--:--
                                              0.1/10.6 MB 2.2 MB/s eta 0:00:05
                                              0.2/10.6 MB 3.0 MB/s eta 0:00:04
     -                                        0.4/10.6 MB 2.9 MB/s eta 0:00:04
     --                                       0.6/10.6 MB 3.3 MB/s eta 0:00:04
     ---                                      0.8/10.6 MB 3.6 MB/s eta 0:00:03
     ---                                      1.0/10.6 MB 3.7 MB/s eta 0:00:03
     ----                                     1.3/10.6 MB 4.1 MB/s eta 0:00:03
     -----                                    1.5/10.6 MB 4.2 MB/s eta 0:00:03
     ------                                   1.8/10.6 MB 4.3 MB/s eta 0:00:03
     -------                                  2.0/10.6 MB 4.3 MB/s eta 0:00:03
     -------                                  2.1/10.6 MB 4.2 MB/s eta 0:00:03
     --------                                 2.3/10.6 MB 4.2 MB/s eta 0:00:02
     ---------                                2.5/10.6 MB 4.3 MB/s eta 0:00:02
     ----------                               2.7/10.6 MB 4.3 MB/s eta 0:00:02
     -----------                              3.2/10.6 MB 4.4 MB/s eta 0:00:02
     -------------                            3.5/10.6 MB 4.4 MB/s eta 0:00:02
     -------------                            3.7/10.6 MB 4.4 MB/s eta 0:00:02
     --------------                           3.9/10.6 MB 4.5 MB/s eta 0:00:02
     ---------------                          4.1/10.6 MB 4.5 MB/s eta 0:00:02
     ----------------                         4.3/10.6 MB 4.4 MB/s eta 0:00:02
     -----------------                        4.6/10.6 MB 4.5 MB/s eta 0:00:02
     ------------------                       4.8/10.6 MB 4.5 MB/s eta 0:00:02
     ------------------                       5.0/10.6 MB 4.4 MB/s eta 0:00:02
     --------------------                     5.4/10.6 MB 4.5 MB/s eta 0:00:02
     ---------------------                    5.6/10.6 MB 4.5 MB/s eta 0:00:02
     ----------------------                   5.8/10.6 MB 4.6 MB/s eta 0:00:02
     -----------------------                  6.1/10.6 MB 4.6 MB/s eta 0:00:01
     -----------------------                  6.3/10.6 MB 4.5 MB/s eta 0:00:01
     ------------------------                 6.5/10.6 MB 4.5 MB/s eta 0:00:01
     -------------------------                6.8/10.6 MB 4.5 MB/s eta 0:00:01
     --------------------------               7.0/10.6 MB 4.5 MB/s eta 0:00:01
     ---------------------------              7.3/10.6 MB 4.5 MB/s eta 0:00:01
     ----------------------------             7.6/10.6 MB 4.5 MB/s eta 0:00:01
     -----------------------------            7.8/10.6 MB 4.5 MB/s eta 0:00:01
     ------------------------------           8.0/10.6 MB 4.5 MB/s eta 0:00:01
     -------------------------------          8.3/10.6 MB 4.5 MB/s eta 0:00:01
     -------------------------------          8.5/10.6 MB 4.6 MB/s eta 0:00:01
     ---------------------------------        8.8/10.6 MB 4.6 MB/s eta 0:00:01
     ---------------------------------        9.0/10.6 MB 4.6 MB/s eta 0:00:01
     ----------------------------------       9.2/10.6 MB 4.6 MB/s eta 0:00:01
     -----------------------------------      9.4/10.6 MB 4.5 MB/s eta 0:00:01
     ------------------------------------     9.7/10.6 MB 4.6 MB/s eta 0:00:01
     -------------------------------------    9.8/10.6 MB 4.6 MB/s eta 0:00:01
     --------------------------------------   10.1/10.6 MB 4.6 MB/s eta 0:00:01
     ---------------------------------------  10.4/10.6 MB 4.6 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.6 MB 4.7 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.6 MB 4.7 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.6 MB 4.7 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.6 MB 4.7 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.6 MB 4.7 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.6 MB 4.7 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.6 MB 4.7 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.6 MB 4.7 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.6 MB 4.7 MB/s eta 0:00:01
     ---------------------------------------- 10.6/10.6 MB 3.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
                                              0.0/502.3 kB ? eta -:--:--
     ----------                             143.4/502.3 kB 4.3 MB/s eta 0:00:01
     ------------------------               327.7/502.3 kB 4.1 MB/s eta 0:00:01
     -------------------------------------- 502.3/502.3 kB 3.9 MB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
                                              0.0/341.8 kB ? eta -:--:--
     -------------------------------------  337.9/341.8 kB 7.0 MB/s eta 0:00:01
     -------------------------------------- 341.8/341.8 kB 4.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.3 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: C:\Users\Admin\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
my_list=['a','b',3]

In [7]:
my_series=pd.Series(my_list)

In [8]:
my_series

0    a
1    b
2    3
dtype: object

In [9]:
my_series.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
my_series.values

array(['a', 'b', 3], dtype=object)

In [11]:
import numpy as np

In [12]:
lst=[1,2,3]

In [13]:
arr=np.array(lst)

In [14]:
index=['first','second','third']

In [15]:
my_ser=pd.Series(data=arr,index=index)

In [16]:
my_ser

first     1
second    2
third     3
dtype: int32

In [17]:
my_ser.index

Index(['first', 'second', 'third'], dtype='object')

In [19]:
my_ser.values

array([1, 2, 3])

In [20]:
my_ser['second']

2

In [4]:
df=pd.DataFrame([[1,2,3],[4,5,6]],
               index=['first','second'], columns=['val1','val2','val3'])

In [23]:
df

        val1  val2  val3
first      1     2     3
second     4     5     6

In [25]:
df['first']['val2']

KeyError: 'first'

In [5]:
df

        val1  val2  val3
first      1     2     3
second     4     5     6

In [9]:
df=pd.read_csv("data/weather_2012.csv")

In [16]:
df.shape

(8784, 8)

In [15]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [14]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [18]:
df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [20]:
df["Weather"].head()

0                     Fog
1                     Fog
2    Freezing Drizzle,Fog
3    Freezing Drizzle,Fog
4                     Fog
Name: Weather, dtype: object

In [21]:
type(df["Weather"].head())

pandas.core.series.Series

In [28]:
df["Weather"]=df["Weather"].astype('string')

In [29]:
df["Weather"].head()

0                     Fog
1                     Fog
2    Freezing Drizzle,Fog
3    Freezing Drizzle,Fog
4                     Fog
Name: Weather, dtype: string

In [30]:
df['Date/Time'].head()

0    2012-01-01 00:00:00
1    2012-01-01 01:00:00
2    2012-01-01 02:00:00
3    2012-01-01 03:00:00
4    2012-01-01 04:00:00
Name: Date/Time, dtype: object

In [31]:
df['Date/Time']=pd.to_datetime(df['Date/Time'])

In [32]:
df['Date/Time'].head()

0   2012-01-01 00:00:00
1   2012-01-01 01:00:00
2   2012-01-01 02:00:00
3   2012-01-01 03:00:00
4   2012-01-01 04:00:00
Name: Date/Time, dtype: datetime64[ns]

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   datetime64[ns]
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   string
dtypes: datetime64[ns](1), float64(4), int64(2), string(1)
memory usage: 549.1 KB

In [34]:
df["Weather"].unique()

<StringArray>
[                                    'Fog',
                    'Freezing Drizzle,Fog',
                           'Mostly Cloudy',
                                  'Cloudy',
                                    'Rain',
                            'Rain Showers',
                            'Mainly Clear',
                            'Snow Showers',
                                    'Snow',
                                   'Clear',
                       'Freezing Rain,Fog',
                           'Freezing Rain',
                        'Freezing Drizzle',
                               'Rain,Snow',
                           'Moderate Snow',
                   'Freezing Drizzle,Snow',
               'Freezing Rain,Snow Grains',
                       'Snow,Blowing Snow',
                            'Freezing Fog',
                                    'Haze',
                                'Rain,Fog',
                             'Drizzle,Fog',
                                 'Drizzle',
                   'Freezing Drizzle,Haze',
                      'Freezing Rain,Haze',
                               'Snow,Haze',
                                'Snow,Fog',
                        'Snow,Ice Pellets',
                               'Rain,Haze',
                      'Thunderstorms,Rain',
              'Thunderstorms,Rain Showers',
        'Thunderstorms,Heavy Rain Showers',
          'Thunderstorms,Rain Showers,Fog',
                           'Thunderstorms',
                  'Thunderstorms,Rain,Fog',
 'Thunderstorms,Moderate Rain Showers,Fog',
                        'Rain Showers,Fog',
               'Rain Showers,Snow Showers',
                            'Snow Pellets',
                           'Rain,Snow,Fog',
                       'Moderate Rain,Fog',
           'Freezing Rain,Ice Pellets,Fog',
                 'Drizzle,Ice Pellets,Fog',
                            'Drizzle,Snow',
                        'Rain,Ice Pellets',
                        'Drizzle,Snow,Fog',
                        'Rain,Snow Grains',
                   'Rain,Snow,Ice Pellets',
                        'Snow Showers,Fog',
              'Moderate Snow,Blowing Snow']
Length: 50, dtype: string

In [35]:
df["Weather"].nunique()

50

In [36]:
df["Weather"].value_counts()

Weather
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Snow Showers,Fog                              4
Moderate Snow                                 4
Freezing Fog                                  4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Heavy Rain Showers              1
Rain,Snow Grains                              1
Rain,Ice Pellets                              1
Thunderstorms,Rain,Fog                        1
Rain Showers,Fog                              1
Freezing Rain,Ice Pellets,Fog                 1
Moderate Rain,Fog                             1
Rain,Snow,Fog                                 1
Snow Pellets                                  1
Thunderstorms,Moderate Rain Showers,Fog       1
Freezing Rain,Snow Grains                     1
Name: count, dtype: Int64

In [37]:
df["Weather"].value_counts()[-1]

1

In [39]:
df["Weather"].value_counts()["Clear"]

1326

In [40]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [44]:
df["Wind Spd (km/h)"].value_counts()

Wind Spd (km/h)
9     830
11    791
13    735
15    719
7     677
17    666
19    616
6     609
20    496
4     474
22    439
24    374
0     309
26    242
28    205
30    161
32    139
33     85
35     53
37     45
39     24
41     22
44     14
43     13
48     13
46     11
52      7
57      5
50      4
2       2
83      1
70      1
63      1
54      1
Name: count, dtype: int64

In [45]:
df["Wind Spd (km/h)"].value_counts()[4]

474

In [50]:
df[["Weather","Wind Spd (km/h)"]].head()

                Weather  Wind Spd (km/h)
0                   Fog                4
1                   Fog                4
2  Freezing Drizzle,Fog                7
3  Freezing Drizzle,Fog                6
4                   Fog                7